.PaymentMainBody {
    display: flex;
    flex-direction: row;
    width: 1400px;
    height: 461px;
    margin-top: 120px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .PaymentPayment {
    display: flex;
    /* border: 1px solid red; */
    position: absolute;
    width: 925px;
    height: 461px;
    margin-left: 80px;
  }
  .PaymentCPM {
    position: absolute;
    width: 925px;
    height: 38px;
    background: #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .PaymentCPM1 {
    position: absolute;
    height: 38px;
    width: 295px;
    background: #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  .Paymentt1 {
    align-items: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    height: 22px;
    margin-left: 24px;
    top: 8px;
    /* line-height: 22px; */
  }
  .Paymentbox1 {
    width: 232px;
    height: 250px;
    margin-top: 40px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
  }
  .PaymentP1 {
    width: 232px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(15, 11, 11, 0.12);
    margin-bottom: 12px;
  }
  .PaymentP11 {
    width: 232px;
    height: 40px;
    margin-bottom: 8px;
    margin-top: 10px;
    background: #c4c4c4;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
  .Paymentt2 {
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-left: 20px;
    cursor: pointer;
  }
  .Paymentimg1 {
    width: 63px;
    height: 18px;
    margin-left: 90px;
  }
  .Paymentbox2 {
    width: 650px;
    margin-left: 20px;
    margin-top: 40px;
    /* border: 1px solid green; */
  }
  .Paymentt3 {
    margin-top: 10px;
    margin-left: 50px;
  }
  .Paymentimg2 {
    width: 90px;
    height: 18px;
    margin-left: 0px;
  }
  .PaymentpaymentDetails {
    width: 324px;
    height: 259px;
    margin-left: 50px;
    margin-top: 20px;
    /* border: 1px solid orange; */
    background: #c4c4c4;
    border-radius: 8px;
  }
  .Paymentt4 {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
  }
  .Paymentinp2 {
    position: static;
    width: 276px;
    height: 41px;
    margin-left: 10px;
    top: 0px;
    background: #f5f5f5;
    border-radius: 4px;
  }
  .Paymentinp3 {
    position: static;
    width: 80px;
    height: 38px;
    margin-left: 10px;
    background: #f5f5f5;
    border-radius: 4px;
    margin-right: 5px;
  }
  .Paymentbtn11 {
    position: absolute;
    width: 204px;
    height: 40px;
    margin-left: 50px;
    margin-top: 10px;
    background: #fdb605;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    cursor: pointer;
  }
  /* Second div styling */
  .PaymentSummary {
    /* border: 1px solid blue; */
    width: 295px;
    margin-left: 1047px;
  }
  .Payments1 {
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .Paymentloading {
    width: 280px;
    height: 300px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .Paymentnote {
    position: absolute;
    width: 1239px;
    height: 40px;
    margin-left: 101px;
    margin-top: 10px;
  }
  .PaymentnoteTxt {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
  }
  