.MainBody {
  display: flex;
  flex-direction: row;
  width: 1440px;
  height: 461px;
  margin-top: 120px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.Payment {
  display: flex;
  /* border: 1px solid red; */
  position: absolute;
  width: 925px;
  height: 461px;
  margin-left: 101px;
}
.CPM {
  position: absolute;
  width: 925px;
  height: 38px;
  background: #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.CPM1 {
  position: absolute;
  height: 38px;
  width: 295px;
  background: #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.t1 {
  align-items: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  height: 22px;
  margin-left: 24px;
  top: 8px;
  /* line-height: 22px; */
}
.box1 {
  width: 232px;
  height: 250px;
  margin-top: 40px;
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
}
.P1 {
  width: 232px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(15, 11, 11, 0.12);
  margin-bottom: 12px;
}
.P11 {
  width: 232px;
  height: 40px;
  margin-bottom: 8px;
  margin-top: 10px;
  background: #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.t2 {
  text-align: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-left: 20px;
  cursor: pointer;
}
.img1 {
  width: 63px;
  height: 18px;
  margin-left: 90px;
}
.box22 {
  width: 650px;
  margin-left: 20px;
  margin-top: 40px;
  text-align: center;
}
.Otp1 {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: black;
}
.inp5 {
  position: static;
  width: 276px;
  height: 41px;
  margin-left: 10px;
  margin-top: 20px;
  background: #f5f5f5;
  border-radius: 4px;
  text-align: center;
}
.btn2 {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  background: #fdb605;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  cursor: pointer;
}
.note3 {
  margin-top: 80px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

/* Second div styling */
.Summary {
  /* border: 1px solid blue; */
  width: 295px;
  margin-left: 1047px;
}
.s1 {
  text-align: center;
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.loading {
  width: 280px;
  height: 300px;
  margin-left: 5px;
  margin-right: 5px;
}
.note {
  position: absolute;
  width: 1239px;
  height: 40px;
  margin-left: 101px;
  margin-top: 10px;
}
.noteTxt {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}
